.city-images>span>img{
    height: 150px;
    width: 150px;
}
.city-images>span>a>img{
    height: 150px;
    width: 150px;
}
.content>.search-bar{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border: 1px solid transparent;
    background-color: #f1f1f1;
    border-radius: 12px;
    width:125%;
}
.city-images{
    position: relative;
    margin-left: 20%;
    margin-right: 16%;  
}
.city-images>span>img{
    border-radius: 25%;
    padding: 4%;
}
.city-images>span>a>img{
    border-radius: 25%;
    padding: 4%;
}
::placeholder{
    padding-left: 10px;
    font-size: 16px;
}
.view-more{
    margin:auto;
    text-align: center;
}