.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4%;
}
.list-view>#hotel-list>.image>img, .list-view>a>#hotel-list>.image>img{
    height:200px;
    width:250px;
}
.content>.list-view>#hotel-list{
    margin:2%;
    background-color:lightgray;
    width:40%;
    height: 200px;
}
.view-option{
    display: flex;
    justify-content: center;
}
.view-option>#one{
    padding-right:1%;
    padding-top: 2%;
}
.view-option>#two{
    padding-left:1%;
    padding-top: 2%;
}
.view-option>div{
    font-weight: bold;
}
.list-view{
    display: flex;
    flex-wrap: wrap;
}
.map-view{
    display: none;
}
.list-view>#hotel-list, .list-view>a>#hotel-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.list-view>a>#hotel-list>.text-info, .list-view>#hotel-list>.text-info{
    padding-left: 3%;
}