body{
    width: 100%;
    height:100%;
}
.wrapper{
    height:100%;
    width:100%;
}
.list-view>#hotel-list>img{
    height:200px;
    width:250px;
}
.list-view>a>#hotel-list>img{
    height:200px;
    width:250px;
}
.content>.list-view>#hotel-list{
    margin:2%;
    background-color:rgb(132,136,139);
    width:40%;
}
.view-option{
    display: flex;
    justify-content: center;
}
.view-option>span{
    padding:2%;
    font-weight: bold;
}
.list-view{
    display: flex;
    flex-wrap: wrap;
}
.map-view{
    display: none;
}
